# Force public npm registry to avoid CI auth (E401) when no token is provided
registry=https://registry.npmjs.org/
# For python-environments, we need to use the Azure Artifacts registry for @vscode packages
@vscode:registry=https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/npm/registry
# Do not require auth for public installs
always-auth=false
