@vscode:registry=https://pkgs.dev.azure.com/azure-public/vside/_packaging/python-environments/npm/registry/
//pkgs.dev.azure.com/azure-public/vside/_packaging/python-environments/npm/registry/:always-auth=false
registry=https://registry.npmjs.org/
always-auth=false
