# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# Use `uv` with Python 3.9 when creating the environment.
#
# Run following command:
# uv pip compile --generate-hashes --upgrade -o ./src/test/python_tests/requirements.txt ./src/test/python_tests/requirements.in

pygls
pytest
PyHamcrest
python-jsonrpc-server
colorama # required for windows machines
